@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Palanquin&family=Roboto&family=Staatliches&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 10px */
}

body {
    background-color: #EFF1FF;
    height: 100vh;
}

header {
    background: #8E9AAF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 27.9rem;
}

#logo-mobile {
    padding: 3.2rem 0;
}

#logo-desktop {
    display: none;
}

header h1 {
    font-family: 'Staatliches', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 4.0rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: #CBC0D3;
    width: 100%;
    text-align: center;
    padding: 0.8rem;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-desktop {
    display: none;
}

.text p {
    font-family: 'Palanquin', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5rem;
    text-align: center;
    color: #23053A;
    min-width: 30.5rem;
    margin: 1.8rem 4.3rem 4rem 3.6rem;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.2rem;
    padding: 2rem;
    animation-name: downtop;
    animation-duration: 700ms;
}

.card {
    position: relative;
    max-width: 50rem;
}

.card p {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    font-family: 'Staatliches';
    font-style: normal;
    font-weight: 400;
    font-size: 2.0rem;
    line-height: 3.4rem;
    letter-spacing: 0.05em;
    color: #4A4E69;
    background: #FEEAFA;
    border-radius: 20px;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    opacity: 0;
    animation-name: topdown;
    animation-duration: 700ms;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
}

.card img {
    width: 100%;
}

footer {
    display: none;
}

@keyframes downtop {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveheader {
    0% {
        opacity: 0;
        transform: translateX(-15px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@media (min-width: 900px) {

    header {
        position: fixed;
        height: 100vh;
        width: 37.7rem;
        display: flex;
        flex-direction: column;
        animation: moveheader;
        animation-duration: 700ms;
    }

    #logo-mobile {
        display: none;
    }

    #logo-desktop {
        display: block;
        padding: 3.2rem 0;
    }
    
    header h1 {
        height: 7.0rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        display: none;
    }

    .intro-desktop {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        display: block;
        text-align: center;
        padding: 0 5.2rem;
        margin-top: 5rem;
        color: #FFFFFF;
    }

    .images {
        margin-left: 37.7rem;
        padding-top: 3.2rem;
        display: grid;
        grid-template-areas: 
        'A B'
        'C B'
        'C D'
        'E F';
    }

    .images .card:nth-child(1) {
        grid-area: A;
    }

    .images .card:nth-child(2) {
        grid-area: B;
    }

    .images .card:nth-child(3) {
        grid-area: D;
    }

    .images .card:nth-child(4) {
        grid-area: C;
    }

    .images .card:nth-child(5) {
        grid-area: E;
    }

    .images .card:nth-child(6) {
        grid-area: F;
    }

    .card {
        transition: all 0.3s;
    }

    .card:hover {
        transform: scaleX(1.04) scaleY(1.04);
    }

    .card p {
        font-size: 1.8rem;
        line-height: 2.5rem;
        letter-spacing: 0.05em;
        color: #4A4E69;
        background: #FEEAFA;
        border-radius: 20px;
        padding-left: 2rem;
        padding-right: 2rem;
    }

}

@media (min-width: 1440px) {
    .images {
        padding: 2.0rem;
        display: grid;
        grid-template-areas: 
        'A B C'
        'D B E'
        'D F E';
    }

    .images .card:nth-child(1) {
        grid-area: A;
    }

    .images .card:nth-child(2) {
        grid-area: B;
    }

    .images .card:nth-child(3) {
        grid-area: C;
    }

    .images .card:nth-child(4) {
        grid-area: D;
    }

    .images .card:nth-child(5) {
        grid-area: F;
    }

    .images .card:nth-child(6) {
        grid-area: E;
    }

    footer {
        display: block;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        color: #4A4E69;
        padding: 2rem;
        margin-left: 25%;

    }
}